@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

:root {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --half_background-color: rgba(255, 255, 255, .5);
    --accent_color: rgb(0, 153, 255);
    --grey: rgb(122, 122, 122);
    --off_grey: rgb(205, 205, 205);
    --half_grey: rgb(165, 165, 165);
    --Playbar_grade: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .2));
    --file_icon: url('../img/filecons/folder_black.webp');
    --add_icon: url('../img/plus-dark.webp');
    --setting_icon: url('../img/setting-dark.webp');
    --search_icon: url('../img/search-pngrepo-com-dark.png');
    --play_icon: url('../img/play-svgrepo-com-dark.webp');
    --pause_icon: url('../img/pause-svgrepo-com-dark.webp');
    --previous_icon: url('../img/backward-svgrepo-com-dark.webp');
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --half_background-color: rgba(0, 0, 0, 0.5);
        --accent_color: rgb(0, 153, 255);
        --grey: rgb(122, 122, 122);
        --off_grey: rgb(50, 50, 50);
        --half_grey: rgb(90, 90, 90);
        --Playbar_grade: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2));
        --file_icon: url('../img/filecons/folder_white.webp');
        --add_icon: url('../img/plus-light.webp');
        --setting_icon: url('../img/setting-light.webp');
        --search_icon: url('../img/search-pngrepo-com-light.png');
        --play_icon: url('../img/play-svgrepo-com-light.webp');
        --pause_icon: url('../img/pause-svgrepo-com-light.webp');
        --previous_icon: url('../img/backward-svgrepo-com-light.webp');
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    overflow: hidden;
    /*background-color: white;*/
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--accent_color);
}


/* First setup screen */
#first_setup_screen {
    /* First settup screen container */
    position: absolute;
    bottom: 0;
    height: calc(100% - 30px);
    width: 100vw;
    background-color: var(--half_background-color);
    /*scrollbar punts view*/
    box-sizing: border-box;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 500;
}

#first_instruct {
    position: relative;
    margin-top: 0.6em;
    width: 100%;
    text-align: center;
    height: 1.2em;
    font-size: 4em;
    color: var(--text-color);
}

#first_setup_folders {
    position: relative;
    padding-top: 1px;
    margin-top: 0.8em;
    margin-left: 0vw;
    margin-right: 0vw;
    width: 100vw;
    height: 30em;
    background-color: var(--off_grey);
    display: flex;
    border-radius: 0.5em;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.folder_first {
    /* Representation of previously selected folders */
    position: relative;
    width: 12em;
    height: 12em;
    box-sizing: border-box;
    margin: 1em;
    background-color: var(--background-color);
    cursor: pointer;
    user-select: none;
    border-radius: 0.2em;
    overflow: hidden;
}

.first_select_cancel_btn {
    /* Red - button in folder selections */
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 2em;
    width: 2em;
    /*border-radius: 0.5em;*/
    background-color: none;
    opacity: 0;
    /*box-shadow: 0em 0em .5em rgb(255, 0, 0);*/
    transition: opacity 300ms;
    cursor: pointer;
    z-index: 50;
    /*important*/
}

.first_select_cancel_btn::after {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 0.9em;
    height: 0.2em;
    left: 15%;
    width: 70%;
    content: "";
}

.folder_first:hover .first_select_cancel_btn {
    opacity: 1;
}

.first_title {
    position: absolute;
    text-align: center;
    height: 1em;
    font-size: 1.2em;
    width: 100%;
    bottom: 0.3em;
    left: 0;
}

.first_icon,
.folder_add_new {
    position: absolute;
    width: 9em;
    height: 9em;
    top: 1em;
    left: 1.5em;
    background-position: center;
    background-size: contain;
}

.first_icon {
    background-image: var(--file_icon);
}

.folder_add_new {
    background-image: var(--add_icon);
}

#first_finish_btn {
    border-radius: 0.2em;
    position: relative;
    margin-top: 0.2em;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 1.2em;
    font-size: 3.5em;
    background-color: var(--half_grey);
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    transform: translateY(0);
    transition: transform 300ms, background-color 300ms;
}

#first_finish_btn:hover {
    background-color: var(--accent_color);
    transition: transform 300ms, background-color 0ms;
}

#first_finish_btn:active {
    transform: translateY(0.1em);
    transition: transform 0ms, background-color 300ms;
}



/* Playback control pannel */
.Playbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7em;
    background: var(--half_background-color);
    box-shadow: 0em 0em 1em var(--accent_color);
}

.playbtn {
    /* Play/pause, next and Previous button */
    position: absolute;
    bottom: 1.25em;
    height: 4.5em;
    width: 4.5em;
    background-color: var(--background-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.playbtn:hover {
    background-color: var(--off_grey);
}

.playbtn:active {
    background-color: var(--accent_color);
    transition: background-color 0ms;
}

#playbtn {
    /* Playbutton */
    right: calc(50vw - 2.25em);
    background-image: var(--play_icon);
    background-size: 80%;
    background-position: 90% 50%;
}

#nextbtn {
    /* Next track button */
    right: calc(50vw - 7.5em);
    transform: rotate(180deg);
    background-image: var(--previous_icon);
    background-size: 75%;
    background-position: 20% 50%;
}

#previousbtn {
    /* Previous track button */
    left: calc(50vw - 7.5em);
    background-image: var(--previous_icon);
    background-size: 75%;
    background-position: 20% 50%;
}


.shufflebtn {
    /* Shuffle and Repeat button */
    position: absolute;
    bottom: 1.25em;
    height: 3.5em;
    width: 3.5em;
    background-color: var(--background-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms;
    user-select: none;
    white-space: wrap;
    text-align: center;
}

.shufflebtn:hover {
    background-color: var(--off_grey);
}

.shufflebtn:active {
    background-color: var(--accent_color);
    transition: background-color 0ms;
}

#shufflebtn {
    /* Shuffle button */
    left: calc(50vw - 12em);
}

#repeatbtn {
    /* repeat button */
    right: calc(50vw - 12em);
}

#songTitle {
    /* Song title in playbar */
    position: absolute;
    height: 1em;
    font-size: 2em;
    width: auto;
    text-align: left;
    line-height: 100%;
    left: 2vw;
    bottom: 1.8em;
}

#songArtist {
    /* Song artist below song title in playbar */
    position: absolute;
    left: 5vw;
    height: 1em;
    font-size: 1.25em;
    width: auto;
    text-align: left;
    line-height: 100%;
    left: 5vw;
    bottom: 1.25em;
}

#song_progress_bar {
    /* Song progression bar/slider in playbar */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0.8em;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

#song_progress_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em !important;
    height: 1.6em !important;
    /*background: none;*/
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--accent_color)
}

/* Main library view */
.library_view {
    position: absolute;
    top: 30px;
    height: calc(100% - 30px - 7em);
    width: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.song_bar {
    /* Representation of a single song file */
    position: relative;
    width: 100%;
    font-size: 1em;
    height: 1em;
    line-height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    transition: background-color 300ms;
    user-select: none;
    box-sizing: border-box;
    background-color: var(--half_background-color);
}

.song_bar:hover {
    background-color: var(--off_grey);
}

.song_bar:active {
    background-color: var(--accent_color);
    transition: background-color 0ms;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    #first_setup_folders {
        margin-top: .8em;
        margin-left: 20vw;
        margin-right: 20vw;
        width: 60vw;
    }

    #first_finish_btn {
        margin-left: 30vw;
        margin-right: 30vw;
        width: 40vw;
    }
}