/* Title bar */
#Title_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: var(--off_grey);
    -webkit-app-region: drag;
}


.tbuttonholder {
    /* Task buttons container*/
    position: absolute;
    top: 0;
    right: 0;
    width: 135px;
    height: 100%;
    -webkit-app-region: no-drag;
}

.tbutton {
    /* Task buttons */
    background-color: var(--half_grey);
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
}

.tbutton:hover {
    background-color: var(--accent_color);
}

#x-button {
    right: 0;
}

#x-button:hover {
    background-color: red;
}

#maximize-button {
    right: 45px;
}

#minimize-button {
    right: 90px;
}

/* Title bar menu */
.titlemenu {
    position: absolute;
    top: 0;
    right: 135px;
    width: 80px;
    height: 100%;
    -webkit-app-region: no-drag;
}

.titlemenu_btn {
    /* Buttons for titlemenu */
    position: absolute;
    height: 30px;
    width: 40px;
    right: 0;
    background-color: var(--off_grey);
    cursor: pointer;
    transition: background-color 300ms;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.titlemenu_btn:hover {
    background-color: var(--half_grey);
}

.titlemenu_btn:active {
    background-color: var(--accent_color);
    transition: background-color 0ms;
}

#setting_btn {
    right: 0;
    background-image: var(--setting_icon);
}

#search_btn {
    right: 40px;
    background-size: 55%;
    background-image: var(--search_icon);
}